In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('students_data.csv')

In [3]:
dataset = dataset.dropna()

In [4]:
dataset.drop(['final_result', 'ECTS'],axis =1, inplace = True)

In [5]:
dataset

,code_module,code_presentation,module_presentation_length,id_assessment,assessment_type,date,weight,id_student,date_submitted,is_banked,...,num_of_prev_attempts,studied_credits,disability,id_site,activity_type,week_from,week_to,sum_click,date_registration,date_unregistration
824,AAA,2013J,268,1752,TMA,19.0,10.0,155984,19,0,...,0,60,N,546732,oucontent,2.0,2.0,14,-64.0,191.0
846,AAA,2013J,268,1753,TMA,54.0,20.0,159954,61,0,...,0,60,N,546719,oucontent,1.0,1.0,6,-46.0,123.0
847,AAA,2013J,268,1753,TMA,54.0,20.0,159954,61,0,...,0,60,N,546681,oucontent,1.0,1.0,8,-46.0,123.0
1219,AAA,2013J,268,1752,TMA,19.0,10.0,188278,19,0,...,0,120,N,546732,oucontent,2.0,2.0,2,-57.0,60.0
2147,AAA,2013J,268,1752,TMA,19.0,10.0,342007,20,0,...,0,60,N,546719,oucontent,1.0,1.0,6,-71.0,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589509,FFF,2014B,241,34890,TMA,171.0,25.0,484675,171,0,...,2,120,Y,779746,url,18.0,18.0,2,10.0,198.0
589590,FFF,2014B,241,34886,TMA,24.0,12.5,540909,24,0,...,1,120,N,779623,subpage,2.0,2.0,1,-93.0,97.0
589596,FFF,2014B,241,34886,TMA,24.0,12.5,540909,24,0,...,1,120,N,779675,subpage,1.0,1.0,1,-93.0,97.0
589599,FFF,2014B,241,34886,TMA,24.0,12.5,540909,24,0,...,1,120,N,779379,oucontent,1.0,1.0,3,-93.0,97.0
589618,FFF,2014B,241,34887,TMA,52.0,12.5,553032,51,0,...,0,120,N,779349,oucontent,3.0,3.0,1,-34.0,136.0

In [6]:
dataset = pd.get_dummies(dataset) # categorical with final_result

In [7]:
dataset

,module_presentation_length,id_assessment,date,weight,id_student,date_submitted,is_banked,score,num_of_prev_attempts,studied_credits,...,disability_N,disability_Y,activity_type_dualpane,activity_type_oucontent,activity_type_page,activity_type_questionnaire,activity_type_quiz,activity_type_resource,activity_type_subpage,activity_type_url
824,268,1752,19.0,10.0,155984,19,0,85.0,0,60,...,1,0,0,1,0,0,0,0,0,0
846,268,1753,54.0,20.0,159954,61,0,68.0,0,60,...,1,0,0,1,0,0,0,0,0,0
847,268,1753,54.0,20.0,159954,61,0,68.0,0,60,...,1,0,0,1,0,0,0,0,0,0
1219,268,1752,19.0,10.0,188278,19,0,76.0,0,120,...,1,0,0,1,0,0,0,0,0,0
2147,268,1752,19.0,10.0,342007,20,0,75.0,0,60,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589509,241,34890,171.0,25.0,484675,171,0,35.0,2,120,...,0,1,0,0,0,0,0,0,0,1
589590,241,34886,24.0,12.5,540909,24,0,74.0,1,120,...,1,0,0,0,0,0,0,0,1,0
589596,241,34886,24.0,12.5,540909,24,0,74.0,1,120,...,1,0,0,0,0,0,0,0,1,0
589599,241,34886,24.0,12.5,540909,24,0,74.0,1,120,...,1,0,0,1,0,0,0,0,0,0
589618,241,34887,52.0,12.5,553032,51,0,78.0,0,120,...,1,0,0,1,0,0,0,0,0,0

In [8]:
len(dataset)

3157

In [ ]:
X = dataset.iloc[:,dataset['score']].values
y = dataset.iloc[:,64:66].values